/* Styles de la page */
body {
    margin: 0 20px 0 20px;
}

/* Styles du header */
header.site {
    font-size: x-large;
    margin: 0 20px 0 20px;    
}
img.logo {
    height: 60px;
}
div.header {
    display: flex;
}
div.logo {
    flex-grow: 1;
}
div.slogan {
    flex-grow: 1;
    padding: 20px 0 20px 0;
}

/* Styles des barres de navigation */
a.nav {
    color: white;
}
li {
    list-style-type: none;
    display: inline;
}

/* Styles de la barre de navigation haute */
nav {
    background-color: black;
    padding: 1px;
}

/* Styles de la barre de navigation basse */
footer {
    background-color: black;
    padding: 1px;
}

/* Styles de la bannière promo */
div.promo {
    grid-column: 1 / 3;
}
img.promo {
    max-width: 100%;
    height: auto;
}

/* Styles du corps du site */
section.corps {
    display: grid;
    grid-template-columns: 68% 32%;
    margin: 5px 0 0 0 ;
}
section.principale#gauche {
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    text-align:justify
}
section.principale#droite {
    background-color: lightgray;
    width: 100%;
    height: 99%;
}

/* Styles du formulaire de contact */
fieldset {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
input[type=text], input[type=date], input[type=email], select, textarea {
    width: 95%;
    padding: 12px;
    border-radius: 4px;
    resize: vertical;
  }
.error {
    border: 1px solid red;
}
.valid{
    border: 1px solid #ccc;
}
