/* --------------------------------------------------------
* CSS Positionnement - Exercice 2 : Absolute
*
* @since 07/01/2018
* @link https://openweb.eu.org/articles/initiation_float 
* --------------------------------------------------------- */
#vert 
{ 
	background-color: green;	
	height: 70%; 
}

#jaune 
{ 
	background-color: yellow;
	float: right;
	width: 30%;	
}